<nav class="navbar-invserse navbar-fixed-top" style="width:100%;">
	<div class="container-fluid" style="background-color: white;" >
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
							aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>ScrApp</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color:black;font-size: 18px;font: bolder">About Scrapp</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder">Features</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder">Process</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder">Stats</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder">What We Buy</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder">Client Reviews</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder">Team</a></li>
		<li><a href="#" style="color:black;font-size: 18px;font: bolder"><p>&nbsp</p></a></li>
       
      </ul>
    </div>
	</div>
	<!-- /.container-fluid -->
</nav>
<!--  <div id="myModal" class="modal fade" role="dialog" > 
    <div class="modal-dialog"> 
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="color:teal">Step 1/2 : Phone Number Verification</h3>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Phone Number" id="phone-enter" ng-model="phone_no">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color:teal;color:white" ng-click="verify()">Send OTP</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  
-->
<div id="fullpage">
	<div class="section fp-auto-height" style="padding:0px;margin:0px;width:100%">
		<!-- <div class="container demo-2" style="width:100%">
                    <div class="content">
            <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <h1 class="text-center"><span style="color: #FFEB3B;">ScrApp</span> is at your disposal !</h1>
            <p>&nbsp</p>
            <h1 class="text-center" id="demo" style="font-size: 60px;"></h1>
            <p>&nbsp</p>
            <h2 class="text-center" style="color: #FFEB3B;"> App Coming Soon !</h2>
              <p>&nbsp</p>
            <h3 class="text-center" style="color:white">Step 1/2 : Phone Number Verification</h3>
            <div class="container">
                <div class="container">
                    <div class="container">
                        <form>
                            <p><i class="glyphicon glyphicon-phone text-center" id="phone-icon"></i></p>
                            <input type="number" placeholder="Phone Number" id="phone-enter" ng-model="phone_no" required>
                            <p>&nbsp</p>
                            <button type="button" class="btn text-center" style="background-color:white;color:teal;margin-left:43%" ng-click="verify()">Send OTP</button>
                        </form>
                    </div>
                </div>
            </div>
                </div>

            
          
        </div>
        </div>-->
		<!-- Modal -->
		<div class="container demo-3" style="padding:0px" style="background-color: #404040">
			<div class="content" style="background-color: #404040">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="text-center main-title">
						<span style="color:#FFEB3B;font-weight: bolder">ScrApp</span> is at your disposal !
					</div>
					<p>&nbsp</p>
					<h1 class="text-center main-title1 " id="demo" style="font-size: 60px;font-weight:bolder"></h1>
					<p>&nbsp</p>
					<h2 class="text-center main-title2" style="color: #303F9F;font-weight:bolder"> App Coming Soon !</h2>
					<div class="container">
						<div class="container">
							<div class="container">
								<form>
									<p><i class="glyphicon glyphicon-phone text-center main-title4" id="phone-icon" style="font-weight: bolder;font-size:80px;color: #465c8b"></i></p>
									<input type="text" class="main-title5" placeholder="Phone Number Verification" id="phone-enter" ng-model="phone_no" required>
									<p>&nbsp</p>
									<button type="button" class=" main-title6 btn text-center" style="background-color:#465c8b;font-weight:bolder;padding:20px;border-radius: 0px;font-size:15px"
													ng-click="verify()">Request OTP</button>
										<p>
											<i class="glyphicon glyphicon-menu-down text-center main-title7 animated bounce" style="font-size:35px"></i>
										</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<!-- <div class="row">
            <div class="col-md-6"    style="background-image: url('./public/images/about.jpg');background-size: cover">
                <p>&nbsp</p>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <h1>
                        <a href="" class="typewrite" data-period="1500" data-type='[ "Welcome to ScrApp.","Encash Your Trash", "Scrapp description 1 will be coming here.", "I Love Design.", "I Love to Develop." ]'
                            style="color:white;font-size:80px">
                            <span class="wrap"></span>
                            </a>
                    </h1>
                </div>
            </div>
        </div>-->






		<div class="container">
			<p>&nbsp</p>
			<p>&nbsp</p>
			<div class="row" style="background-color: #FFEB3B;padding:0px;margin:0px;border:0px" id="process_box">
				<div class="col-md-6" style="margin:0px;padding:0px;border:0px;background-color: #FFEB3B">
											
			<p>&nbsp</p>			<p>&nbsp</p>
			<p>&nbsp</p>
					<h1 class="text-center" style="color:seagreen">Welcome to Scrapp</h1>
					<p>&nbsp</p>
					<p>&nbsp</p>
					<h3 class="text-center" style="padding:10px;letter-spacing: 2px">We are here to help you manage your scrap and how to earn from it. We are into waste management and disposal which include
						all activities and actions required to manage waste from its formation. This includes from collection to receiving
						with proper monitoring and regulation.</h3>
					<p>&nbsp</p>
					<h3 style="color:seagreen;padding:10px" class="text-center">You just need to call us or schedule pickup on our website and everything will get sort within 24 hours or less. Everything
						you think is a waste is not now anymore.</h3>
					<p>&nbsp</p>
					<h1 class="text-center">REUSE To Reduce</h1>
				</div>
				<div class="col-md-6" style="margin:0px;padding:0px;border:0px;">
								
			<p>&nbsp</p>			
			<p>&nbsp</p>
					<div class="row" style="margin:0px;padding:0px;border:0px">
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/process_truck.svg" style="height:200px;width:200px">
							</div>
						</div>
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:#FFEB3B">
								<img src="./public/images/bin.svg" style="height:200px;width:200px">
							</div>
						</div>
					</div>
					<div class="row" style="margin:0px;padding:0px;border:0px">
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:#FFEB3B">
								<img src="./public/images/recycle.svg" style="height:200px;width:200px">
							</div>
						</div>
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/bg.svg" style="height:200px;width:200px">
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>









	<div class="section fp-auto-height">
		<div class="container" id="mypage3" style="transform:scale(0.85)">
			<p>&nbsp</p>
			<p>&nbsp</p>
			<p>&nbsp</p>
			
			<h1 class="text-center" style="margin-bottom: 5px;font-size:40px;color:#404040">Features of ScrApp </h1>
			<hr style="color:#404040 ;margin-left:25%;margin-right:25%;margin-bottom: 45px;margin-top:0px" />
			<div class="row" style="z-index: 1">
				<div class="col-md-4" style="margin-right:0px">
					<div class="features">
						<p>&nbsp</p>
			<p>&nbsp</p><p>&nbsp</p>
			<p>&nbsp</p>
						<div class="listing" style="margin-left:10%;margin-right:10%" id="f1">
							<div class="row">
								<div class="col-xs-9">
									<div class="desc text-right">
										<h2>Feature 1</h2>
									</div>
									<div class="desc text-right">
										<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="col-xs-3">
									<p>&nbsp</p>
									<span class="glyphicon glyphicon-send text-right" style="font-size:40px;display:block;margin:auto;" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="listing" style="margin-left:10%;margin-right:10%" id="f2">
							<div class="row">
								<div class="col-xs-9">
									<div class="desc text-right">
										<h2>Feature 2</h2>
									</div>
									<div class="desc text-right">
										<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="col-xs-3">
									<p>&nbsp</p>
									<span class="glyphicon glyphicon-send text-right" style="font-size:40px;display:block;margin:auto;" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="listing" style="margin-left:10%;margin-right:10%" id="f3">
							<div class="row">
								<div class="col-xs-9">
									<div class="desc text-right">
										<h2>Feature 3</h2>
									</div>
									<div class="desc text-right">
										<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
								<div class="col-xs-3">
									<p>&nbsp</p>
									<span class="glyphicon glyphicon-send text-right" style="font-size:40px;display:block;margin:auto;" aria-hidden="true"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-0" style="overflow: hidden;height:35%">
					<div class="fc-mac"></div>
					<!--   <img  src="./public/templates/apple.png" style="height:550px;width:500px;margin-right:50%"> -->
				</div>
				<div class="col-md-4" style="margin-left:0px">
					<div class="features">
						<p>&nbsp</p>
			<p>&nbsp</p><p>&nbsp</p>
			<p>&nbsp</p>
						<div class="listing" style="margin-left:10%;margin-right:10%" id="f4">
							<div class="row">
								<div class="col-xs-3">
									<p>&nbsp</p>
									<span class="glyphicon glyphicon-send text-right" style="font-size:40px;display:block;margin:auto;" aria-hidden="true"></span>
								</div>
								<div class="col-xs-9">
									<div class="desc text-left">
										<h2>Feature 4</h2>
									</div>
									<div class="desc text-left">
										<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="listing" style="margin-left:10%;margin-right:10%" id="f5">
							<div class="row">
								<div class="col-xs-3">
									<p>&nbsp</p>
									<span class="glyphicon glyphicon-send text-right" style="font-size:40px;display:block;margin:auto;" aria-hidden="true"></span>
								</div>
								<div class="col-xs-9">
									<div class="desc text-left">
										<h2>Feature 5</h2>
									</div>
									<div class="desc text-left">
										<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="listing" style="margin-left:10%;margin-right:10%" id="f6">
							<div class="row">
								<div class="col-xs-3">
									<p>&nbsp</p>
									<span class="glyphicon glyphicon-send text-right" style="font-size:40px;display:block;margin:auto;" aria-hidden="true"></span>
								</div>
								<div class="col-xs-9">
									<div class="desc text-left">
										<h2>Feature 6</h2>
									</div>
									<div class="desc text-left">
										<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
											of type and scrambled it to make a type specimen book.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="section fp-noscroll">
		<div class="container">
			<div class="container">
		<div class="container">
			<p>&nbsp</p>
			<p>&nbsp</p>
			
			<div class="row">
				<div class="col-md-6">
					<div class="flip">
						<div class="card">
							<div class="face front">
								<div id="node_section_7">
									<h1 style="color:beige">Process Flow</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px;color:darkslategrey" />
									<h2 style="color:white">There is no such thing as "AWAY".When we throw anything it must go somewhere</h2>
								</div>
							</div>
							<div class="face back">
								<div id="node_section_1">
									<h1 style="color:bisque">Stage Title 1</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px">
									<h2 style="color:white">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</h2>
								</div>
								<div id="node_section_2">
									<h1 style="color:white">Stage Title 2</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px">
									<h2 style="color:white">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</h2>
								</div>
								<div id="node_section_3">
									<h1 style="color:white">Stage Title 3</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px">
									<h2>Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</h2>
								</div>
								<div id="node_section_4">
									<h1 style="color:bisque">Stage Title 4</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px" />
									<h2 style="color:white">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</h2>
								</div>
								<div id="node_section_5">
									<h1 style="color:bisque">Stage Title 5</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px" />
									<h2 style="color:white">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</h2>
								</div>
								<div id="node_section_6">
									<h1 style="color:bisque">Stage Title 4</h1>
									<p>&nbsp</p>
									<hr style="margin-left:25%;margin-right:25%;margin-bottom:50px" />
									<h2 style="color:white">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" onmouseover="display1()" onmouseleave="hide1()">
								<img src="./public/images/process_truck.svg" style="height:50px;width:50px" >
								<h4 class="text-center">Stage 1</h4>
							</div>
						</div>
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:khaki" onmouseover="display2()" onmouseleave="hide2()">
								<img src="./public/images/bin.svg" style="height:50px;width:50px">
								<h4 class="text-center">Stage 2</h4>
							</div>
						</div>
							<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" onmouseover="display3()" onmouseleave="hide3()">
								<img src="./public/images/process_truck.svg" style="height:50px;width:50px">
								<h4 class="text-center">Stage 3</h4>
							</div>
						</div>

						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" onmouseover="display4()" onmouseleave="hide4()">
								<img src="./public/images/process_truck.svg" style="height:50px;width:50px">
								<h4 class="text-center">Stage 4</h4>
							</div>
						</div>
						<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:khaki" onmouseover="display5()" onmouseleave="hide5()">
								<img src="./public/images/bin.svg" style="height:50px;width:50px">
								<h4 class="text-center">Stage 5</h4>
							</div>
						</div>
							<div class="col-md-6" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/process_truck.svg" style="height:50px;width:50px">
								<h4 class="text-center">Stage 6</h4>
							</div>
						</div>



					</div>
				</div>
			</div>
			</div>



					</div>
				</div>
			</div>























			

	
	




	<div class="section fp-noscroll" style="padding-top:20px;background-image: url('');background-size: cover">
		<div class="container">
			<div class="row" style="transform:scale(1)">
				<div class="col-md-12">
					<p>&nbsp</p>
					<p>&nbsp</p>
					<h1 style="color:bisque" class="text-center">When Numbers Speak</h1>
					<hr style="margin-left:35%;margin-right:35%;margin-bottom:10px" />
					<p>&nbsp</p>
					<p>&nbsp</p>
					<p>&nbsp</p>
					<p>&nbsp</p>
					<p>&nbsp</p>
					<div class="row">
						<div class="col-md-4 text-center" style="transform: scale(0.9)">
							<div class="client_say" style="background-color:khaki">
								<div class="row">
									<div class="col-md-12 center-block">
										<div class="icon">
											<img style="display: block;margin:0 auto" src="./public/images/exp.svg">
										</div>
									</div>
								</div>
								<h1 id="el">0</h1>
								<h2 style="color:white;font-family: 'Amaranth' ">Years of Experience</h2>
							</div>
						</div>
						<div class="col-md-4 text-center" style="transform: scale(0.9)">
							<div class="client_say" style="background-color: lightcoral">
								<div class="row">
									<div class="col-md-12">
										<div class="icon">
											<img src="./public/images/client.svg">
										</div>
									</div>
								</div>
								<h1 id="el1">0</h1>
								<h2 style="color:white;font-family: 'Amaranth'">Clients Served</h2>
							</div>
						</div>
						<div class="col-md-4 text-center " style="transform: scale(0.9)">
							<div class="client_say" style="background-color:sandybrown">
								<div class="row">
									<div class="col-md-12">
										<div class="icon">
											<img src="./public/images/scrapp.svg">
										</div>
									</div>
								</div>
								<h1 id="el2">0</h1>
								<h2 style="color:white;font-family: 'Amaranth'">Tons of Scrap Handled</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<p>&nbsp</p>
		<p>&nbsp</p>
		<p>&nbsp</p>
		<h1 class="text-center" style="color:#404040">What We Buy</h1>
		
		
		<hr style="margin-left:35%;margin-right:35%;margin-bottom:10px;color:#404040" />
		<p>&nbsp</p>
		<div class="container">
				<div class="row" style="margin:0px;padding:0px;border:0px">
						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/process_truck.svg" style="height:150px;width:150px">
							</div>
						</div>
						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:khaki">
								<img src="./public/images/bin.svg" style="height:150px;width:150px">
							</div>
						</div>
							<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/process_truck.svg" style="height:150px;width:150px">
							</div>
						</div>
						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:khaki">
								<img src="./public/images/bin.svg" style="height:150px;width:150px">
							</div>
						</div>
					
					</div>
					
					<div class="row" style="margin:0px;padding:0px;border:0px">
						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/furn.svg" style="height:200px;width:200px">
							</div>
						</div>

						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:khaki">
								<img src="./public/images/bc.svg" style="height:200px;width:200px">
							</div>
						</div>
						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center">
								<img src="./public/images/process_truck.svg" style="height:200px;width:200px">
							</div>
						</div>
						<div class="col-md-3" style="margin-left:0px;margin-right:0px;border:0px;padding:0px">
							<div class="mainbox text-center" style="background-color:khaki">
								<img src="./public/images/bin.svg" style="height:200px;width:200px">
							</div>
						</div>
					</div>
				</div>
		</div>
	<div class="section">
		<div class="container">
			<p>&nbsp</p>
			<p>&nbsp</p>
			<p>&nbsp</p>
			<p>&nbsp</p>
			<h1 style="color:bisque" class="text-center">Our Happy Clients</h1>
			<hr style="margin-left:35%;margin-right:35%;margin-bottom:5px" />
			<p>&nbsp</p>
			
			<p>&nbsp</p>
			<div class="row" style="transform: scale(0.7)">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="owl-carousel owl-theme" style="transform: scale(0.9)">
								<div class="item">
									<img id="t_image" src="./public/images/review.svg" class="col-center">
									<h1 class="text-center" style="color:#404040">Mathew Hall</h1>
									<p>&nbsp</p>
									<p style="font-size:20px">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</p>
								</div>
								<div class="item">
									<img id="t_image" src="./public/images/review.svg" class="col-center">
									<h1 class="text-center" style="color:#404040">Stage Title 3</h1>
									<p>&nbsp</p>
									<p style="font-size:20px">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</p>
								</div>
								<div class="item">
									<img id="t_image" src="./public/images/review.svg">
									<h1 class="text-center" style="color:#404040">Stage Title 3</h1>
									<p>&nbsp</p>
									<p style="font-size:20px">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</p>
								</div>
								<div class="item">
									<img id="t_image" src="./public/images/review.svg">
									<h1 class="text-cente" style="color:#404040">Stage Title 3</h1>
									<p>&nbsp</p>
									<p style="font-size:20px">Stage Description : At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
										deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
										sunt in culpa qui officia deserunt</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<h1 class="text-center" style="color:#404040"> Meet The Team </h1>
		<div class="container">
			<div class="row">
				
				
				<hr style="margin-left:35%;margin-right:35%;margin-bottom:30px;color:#404040" />
				<p>&nbsp</p>
				<p>&nbsp</p>
				
				<div class=col-md-4>
					<div class="client_say" style="border:1px solid white;background-color: white;padding:5px">
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="./public/images/rohan.jpeg" style="height:270px;width:270px;border-radius:50%">
							</div>
						</div>
						
						<h1 class="text-center" style="color:#404040">Mr Rohan Singh Bais</h1>
						<h3 class="text-center" style="color:#404040">Founder and CEO</h3>
					
					</div>
				</div>
				<div class=col-md-4>
				<div class="client_say" style="border:1px solid white;background-color: white;padding:5px;">
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="./public/images/ashwini.png" style="height:270px;width:270px;border-radius:50%">
							</div>
						</div>
						<h1 class="text-center" style="color:#404040">Mr Ashwani Yadav</h1>
						<h3 class="text-center" style="color:#404040">Co-Founder</h3>
					</div>
				</div>
				<div class=col-md-4>
					<div class="client_say" style="border:1px solid white;background-color: white;padding:5px">
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="./public/images/raj.png" style="height:270px;width:270px;border-radius:50%">
							</div>
						</div>
						<h1 class="text-center" style="color:#404040">Mr Raj Kumar</h1>
						<h3 class="text-center" style="color:#404040">Industry Advisor</h3>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="section fp-auto-height">
		<footer style="padding-top:0px;margin-top:0px;">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 footerleft ">
						<div class="logofooter"> Logo</div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
							dummy text ever since the 1500s, when an unknown printer took a galley.</p>
						<p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA
						</p>
						<p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
						<p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>
					</div>
					<div class="col-md-2 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">GENERAL LINKS</h6>
						<ul class="footer-ul">
							<li><a href="#"> Career</a></li>
							<li><a href="#"> Privacy Policy</a></li>
							<li><a href="#"> Terms & Conditions</a></li>
							<li><a href="#"> Client Gateway</a></li>
							<li><a href="#"> Ranking</a></li>
							<li><a href="#"> Case Studies</a></li>
							<li><a href="#"> Frequently Ask Questions</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 paddingtop-bottom">
						<h6 class="heading7">LATEST POST</h6>
						<div class="post">
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 paddingtop-bottom">
						<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false"
										style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
							<div class="fb-xfbml-parse-ignore">
								<blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
							</div>
					</div>
				</div>
			</div>
	</div>
	</footer>
	<!--footer start from here-->
	<div class="copyright">
		<div class="container">
			<div class="col-md-6">
				<p>© 2016 - All Rights with Webenlance</p>
			</div>
			<div class="col-md-6">
				<ul class="bottom_ul">
					<li><a href="#">webenlance.com</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Faq's</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {





		$('#fullpage').fullpage({
			//Navigation
			menu: '#myMenu',
			lockAnchors: true,
			anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'fifthPage', 'sixthPage', 'seventhPage'], //anchor links for direct access from button
			navigation: true,
			navigationPosition: 'right',
			navigationTooltips: ['firstSlide', 'secondSlide'],
			showActiveTooltip: false,
			slidesNavigation: false,
			slidesNavPosition: 'bottom',

			//Scrolling
			css3: true,
			scrollingSpeed: 700,


			fitToSectionDelay: 500,
			scrollBar: false,
			easing: 'easeInOut',
			easingcss3: 'ease-in-out',
			loopBottom: false,
			loopTop: false,
			loopHorizontal: false,
			continuousVertical: false,
			continuousHorizontal: false,
			scrollHorizontally: false,
			interlockedSlides: false,
			dragAndMove: false,
			offsetSections: false,
			resetSliders: false,
			fadingEffect: false,
			normalScrollElements: '#element1, .element2',
			scrollOverflow: false,
			scrollOverflowReset: true,
			scrollOverflowOptions: null,
			touchSensitivity: 10,
			normalScrollElementTouchThreshold: 5,
			bigSectionsDestination: null,

			//Accessibility
			keyboardScrolling: true,
			animateAnchor: true,
			recordHistory: false,

			//Design
			controlArrows: false,
			verticalCentered: true,
			sectionsColor: ['#00796B', '#404040', '#ffffff', '#455A64', '#404040', '#ffffff','#404040','#ffffff'],
			paddingTop: '0px',
			paddingBottom: '0px',
			fixedElements: '',
			responsiveWidth: 0,
			responsiveHeight: 0,
			responsiveSlides: true,

			//Custom selectors
			sectionSelector: '.section',
			slideSelector: '.slide',

			lazyLoading: true,

			//events
			onLeave: function (index, nextIndex, direction) {},
			afterLoad: function (anchorLink, index) {},
			afterRender: function () {},
			afterResize: function () {

			},
			afterResponsive: function (isResponsive) {},
			afterLoad: function (anchorLink, index, slideAnchor, slideIndex) {
				if (index == 3) {
					console.log('page3');

					function show1() {
						window.setTimeout(function () {
							$('#f1').addClass('listing1');
						}, 2000);
						return hide1();
					}

					function hide1() {
						window.setTimeout(function () {
							$('#f1').removeClass('listing1');
						}, 4000);
						return show2();
					}

					function show2() {
						window.setTimeout(function () {
							$('#f2').addClass('listing1');
						}, 6000);
						return hide2();
					}

					function hide2() {
						window.setTimeout(function () {
							$('#f2').removeClass('listing1');
						}, 8000);
						return show3();
					}

					function show3() {
						window.setTimeout(function () {
							$('#f3').addClass('listing1');
						}, 10000);
						return hide3();
					}

					function hide3() {
						window.setTimeout(function () {
							$('#f3').removeClass('listing1');
						}, 12000);
						return show4();
					}

					function show4() {
						window.setTimeout(function () {
							$('#f4').addClass('listing1');
						}, 14000);
						return hide4();
					}

					function hide4() {
						window.setTimeout(function () {
							$('#f4').removeClass('listing1');
						}, 16000);
						return show5();
					}

					function show5() {
						window.setTimeout(function () {
							$('#f5').addClass('listing1');
						}, 18000);
						return hide5();
					}

					function hide5() {
						window.setTimeout(function () {
							$('#f5').removeClass('listing1');
						}, 20000);
						return show6();
					}

					function show6() {
						window.setTimeout(function () {
							$('#f6').addClass('listing1');
						}, 22000);
						return hide6();
					}

					function hide6() {
						window.setTimeout(function () {
							$('#f6').removeClass('listing1');
						}, 24000);

					}

					$('#mypage3').fadeIn(500);
					show1();

				}

				if (index == 4) {
					console.log("page 4");
					var $el = $("#el1"),
						value = 870;

					// window.event.preventDefault();

					$({
						percentage: 0
					}).stop(true).animate({
						percentage: value
					}, {
						duration: 4000,
						easing: "easeOutExpo",
						step: function () {
							// percentage with 1 decimal;
							var percentageVal = Math.round(this.percentage) / 1;

							$el.text(percentageVal);
						}
					}).promise().done(function () {
						// hard set the value after animation is done to be
						// sure the value is correct
						$el.text(value);
					});
				}


				var $el_1 = $("#el"),
					value_1 = 4;

				//event.preventDefault();

				$({
					percentage_1: 0
				}).stop(true).animate({
					percentage_1: value_1
				}, {
					duration: 4000,
					easing: "easeOutExpo",
					step: function () {
						// percentage with 1 decimal;
						var percentageVal_1 = Math.round(this.percentage_1) / 1;

						$el_1.text(percentageVal_1);
					}
				}).promise().done(function () {
					// hard set the value after animation is done to be
					// sure the value is correct
					$el_1.text(value_1);
				});



				var $el_2 = $("#el2"),
					value_2 = 430;

				//event.preventDefault();

				$({
					percentage_2: 0
				}).stop(true).animate({
					percentage_2: value_2
				}, {
					duration: 4000,
					easing: "easeOutExpo",
					step: function () {
						// percentage with 1 decimal;
						var percentageVal_2 = Math.round(this.percentage_2) / 1;

						$el_2.text(percentageVal_2);
					}
				}).promise().done(function () {
					// hard set the value after animation is done to be
					// sure the value is correct
					$el_2.text(value_2);
				});

			},
			onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) {

			}
		});


	});
</script>
<script>
	$('.owl-carousel').owlCarousel({
		loop: true,
		margin: 80,
		nav: true,
		responsive: {
			0: {
				items: 1
			},
			600: {
				items: 2
			},
			1000: {
				items: 3
			}
		}
	})
</script>
<!-- Latest compiled and minified JavaScript -->
<script>
	// Set the date we're counting down to
	var countDownDate = new Date("Jun 5, 2017 15:37:25").getTime();

	// Update the count down every 1 second
	var x = setInterval(function () {

		// Get todays date and time
		var now = new Date().getTime();

		// Find the distance between now an the count down date
		var distance = countDownDate - now;

		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Output the result in an element with id="demo"
		document.getElementById("demo").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds +
			"s  " + " Left ";

		// If the count down is over, write some text 
		if (distance < 0) {
			clearInterval(x);
			document.getElementById("demo").innerHTML = "EXPIRED";
		}
	}, 1000);
</script>
<script>
	$("#node_section_2").hide();
	$("#node_section_3").hide();
	$("#node_section_4").hide();
	$("#node_section_1").hide();
	$("#node_section_5").hide();
	$("#node_section_6").hide();
</script>
<script>
	(function () {

		var width, height, largeHeader, canvas, ctx, triangles, target, animateHeader = true;
		var colors = ['72,35,68', '43,81,102', '66,152,103', '250,178,67', '224,33,48'];

		// Main
		initHeader();
		addListeners();
		initAnimation();

		function initHeader() {
			width = window.innerWidth;
			height = window.innerHeight;
			target = {
				x: 0,
				y: height
			};

			largeHeader = document.getElementById('large-header');
			largeHeader.style.height = height + 'px';

			canvas = document.getElementById('demo-canvas');
			canvas.width = width;
			canvas.height = height;
			ctx = canvas.getContext('2d');

			// create particles
			triangles = [];
			for (var x = 0; x < 480; x++) {
				addTriangle(x * 10);
			}
		}

		function addTriangle(delay) {
			setTimeout(function () {
				var t = new Triangle();
				triangles.push(t);
				tweenTriangle(t);
			}, delay);
		}

		function initAnimation() {
			animate();
		}

		function tweenTriangle(tri) {
			var t = Math.random() * (2 * Math.PI);
			var x = (200 + Math.random() * 100) * Math.cos(t) + width * 0.5;
			var y = (200 + Math.random() * 100) * Math.sin(t) + height * 0.5 - 20;
			var time = 4 + 3 * Math.random();

			TweenLite.to(tri.pos, time, {
				x: x,
				y: y,
				ease: Circ.easeOut,
				onComplete: function () {
					tri.init();
					tweenTriangle(tri);
				}
			});
		}

		// Event handling
		function addListeners() {
			window.addEventListener('scroll', scrollCheck);
			window.addEventListener('resize', resize);
		}

		function scrollCheck() {
			if (document.body.scrollTop > height) animateHeader = false;
			else animateHeader = true;
		}

		function resize() {
			width = window.innerWidth;
			height = window.innerHeight;
			largeHeader.style.height = height + 'px';
			canvas.width = width;
			canvas.height = height;
		}

		function animate() {
			if (animateHeader) {
				ctx.clearRect(0, 0, width, height);
				for (var i in triangles) {
					triangles[i].draw();
				}
			}
			requestAnimationFrame(animate);
		}

		// Canvas manipulation
		function Triangle() {
			var _this = this;

			// constructor
			(function () {
				_this.coords = [{}, {}, {}];
				_this.pos = {};
				init();
			})();

			function init() {
				_this.pos.x = width * 0.5;
				_this.pos.y = height * 0.5 - 20;
				_this.coords[0].x = -10 + Math.random() * 40;
				_this.coords[0].y = -10 + Math.random() * 40;
				_this.coords[1].x = -10 + Math.random() * 40;
				_this.coords[1].y = -10 + Math.random() * 40;
				_this.coords[2].x = -10 + Math.random() * 40;
				_this.coords[2].y = -10 + Math.random() * 40;
				_this.scale = 0.1 + Math.random() * 0.3;
				_this.color = colors[Math.floor(Math.random() * colors.length)];
				setTimeout(function () {
					_this.alpha = 0.8;
				}, 10);
			}

			this.draw = function () {
				if (_this.alpha >= 0.005) _this.alpha -= 0.005;
				else _this.alpha = 0;
				ctx.beginPath();
				ctx.moveTo(_this.coords[0].x + _this.pos.x, _this.coords[0].y + _this.pos.y);
				ctx.lineTo(_this.coords[1].x + _this.pos.x, _this.coords[1].y + _this.pos.y);
				ctx.lineTo(_this.coords[2].x + _this.pos.x, _this.coords[2].y + _this.pos.y);
				ctx.closePath();
				ctx.fillStyle = 'rgba(' + _this.color + ',' + _this.alpha + ')';
				ctx.fill();
			};

			this.init = init;
		}

	})();
</script>
<script>
	$('.fc-mac').frameCarousel({

		images: ['images/1.jpg', 'images/2.jpg', 'images/3.jpg', ],
		first: 0,
		swipeThreshold: 10,
		frame: './public/templates/apple.png',
		boundingBox: {

			left: '30.7%',

			top: '17%',

			width: '36.5%',

			height: '64%'

		},
		controlsPosition: {

			top: '200%'

		},
		frameSize: [{
			width: 300,
			minScreenWidth: 768,
			maxScreenWidth: 1024
		}],


		autoplay: true,

		autoplayInterval: 4100





	});
</script>
<script>
	var TxtType = function (el, toRotate, period) {
		this.toRotate = toRotate;
		this.el = el;
		this.loopNum = 0;
		this.period = parseInt(period, 10) || 2000;
		this.txt = '';
		this.tick();
		this.isDeleting = false;
	};

	TxtType.prototype.tick = function () {
		var i = this.loopNum % this.toRotate.length;
		var fullTxt = this.toRotate[i];

		if (this.isDeleting) {
			this.txt = fullTxt.substring(0, this.txt.length - 1);
		} else {
			this.txt = fullTxt.substring(0, this.txt.length + 1);
		}

		this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

		var that = this;
		var delta = 200 - Math.random() * 100;

		if (this.isDeleting) {
			delta /= 2;
		}

		if (!this.isDeleting && this.txt === fullTxt) {
			delta = this.period;
			this.isDeleting = true;
		} else if (this.isDeleting && this.txt === '') {
			this.isDeleting = false;
			this.loopNum++;
			delta = 500;
		}

		setTimeout(function () {
			that.tick();
		}, delta);
	};

	window.onload = function () {
		var elements = document.getElementsByClassName('typewrite');
		for (var i = 0; i < elements.length; i++) {
			var toRotate = elements[i].getAttribute('data-type');
			var period = elements[i].getAttribute('data-period');
			if (toRotate) {
				new TxtType(elements[i], JSON.parse(toRotate), period);
			}
		}
		// INJECT CSS
		var css = document.createElement("style");
		css.type = "text/css";
		css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
		document.body.appendChild(css);
	};
</script>
<script>
	$('#mypage3').hide();

	function display1() {
		console.log("onclick called")
		$("#node_section_2").hide();
		$("#node_section_3").hide();
		$("#node_section_4").hide();
		$("#node_section_5").hide();
		$("#node_section_6").hide();

		$("#node_section_1").fadeIn(500);
		$('.flip').find('.card').addClass('flipped');
		return true;

	}

	function hide1() {
		$("#node_section_1").hide();
		$('.flip').find('.card').removeClass('flipped');
		return true;
	}

	function display2() {
		console.log("onclick called")
		$("#node_section_1").hide();
		$("#node_section_3").hide();
		$("#node_section_4").hide();
		$("#node_section_5").hide();
		$("#node_section_6").hide();

		$("#node_section_2").fadeIn(500);
		$('.flip').find('.card').addClass('flipped');
		return true;
	}

	function hide2() {
		$("#node_section_2").hide();
		$('.flip').find('.card').removeClass('flipped');
		return true;
	}

	function display3() {
		console.log("onclick called")
		$("#node_section_2").hide();
		$("#node_section_1").hide();
		$("#node_section_4").hide();
		$("#node_section_5").hide();
		$("#node_section_6").hide();

		$("#node_section_3").fadeIn(500);
		$('.flip').find('.card').addClass('flipped');
		return true;
	}

	function hide3() {
		$("#node_section_3").hide();
		$('.flip').find('.card').removeClass('flipped');
		return true;
	}

	function display4() {
		console.log("onclick called")
		$("#node_section_2").hide();
		$("#node_section_3").hide();
		$("#node_section_1").hide();
		$("#node_section_5").hide();
		$("#node_section_6").hide();

		$("#node_section_4").fadeIn(500);
		$('.flip').find('.card').addClass('flipped');

		return true;
	}

	function hide4() {
		$("#node_section_4").hide();
		$('.flip').find('.card').removeClass('flipped');
		return true;
	}

	function display5() {
		console.log("onclick called")
		$("#node_section_2").hide();
		$("#node_section_3").hide();
		$("#node_section_4").hide();
		$("#node_section_1").hide();
		$("#node_section_6").hide();

		$("#node_section_5").fadeIn(500);
		$('.flip').find('.card').addClass('flipped');
		return true;
	}

	function hide5() {
		$("#node_section_5").hide();
		$('.flip').find('.card').removeClass('flipped');
		return true;
	}
</script>