<div class="container">
    <div class="row">
        <div class="col-md-2"><p>&nbsp</p></div>
        <div class="col-md-8">
            <div class='row'>
                <div class="col-md-12 text-center">
                    <img src="https://rakeshistom.files.wordpress.com/2015/05/sending-emails.jpg">
                </div>
                <div class="col-md-12 text-center" >
                    <h1 style="color:deepskyblue">Your Request has been recorded</h1>
                    <h3 style="color:teal">Confirmation Email has been sent to your registered ID</h3>
                    <p style="color:darkmagenta;font-family: 'Amaranth' ">Thank You for choosing us</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"><p>&nbsp</p></div>
    </div>
</div>