<div class="row">
    <h1 style="color:black" class="text-center">Item Price List</h1>
    <p>&nbsp</p>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/newspaper1.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Newspapers</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 11/kg</p>
            </div>
        </div>
    </div>

     <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/tablet.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Mobile Phones</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 15/kg</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
               <img src="templates/Coloured/bed1.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Beds</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 8/kg</p>
            </div>
        </div>
    </div>


</div>
<p>&nbsp</p>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/book1.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Books</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 9/kg</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/chair.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Chairs</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 14/kg</p>
            </div>
        </div>
    </div>
     <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/fridge.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Fridges</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 10/kg</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/tv.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">T.V</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 10/kg</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/sofa2.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Sofa</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 10/kg</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/laptop.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Laptops</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 10/kg</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/machiene.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Washing Machines</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 10/kg</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <img src="templates/Coloured/micro.png" class="p_icon text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center" style="font-family: 'Amaranth';color:teal">Microwave</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-family: 'Amaranth';color:teal">Rs. 10/kg</p>
            </div>
        </div>
    </div>








</div>